<%- include('../../templates/head') %>
<title>S'enregistrer - Les pixels</title>
<%- include('../../templates/headClose') %>

<%- include('../../templates/header.ejs'); %>

<main>
    <h2>Se connecter</h2>
    <%- include('_form') %>
    Pas encore de compte ? <a href="/register">cliquez ici !</a>
</main>

<%- include('../../templates/footer.ejs'); %>
<%- include('../../templates/htmlClose.ejs'); %>

