<%- include('../../templates/head') %>
<title>S'enregistrer - Les pixels</title>
<%- include('../../templates/headClose') %>

<%- include('../../templates/header.ejs'); %>

<main>
    <h2>S'enregistrer</h2>
    <%- include('_form') %>
    Déjà un compte ? <a href="/login">cliquez ici !</a>
</main>

<%- include('../../templates/footer.ejs'); %>
<%- include('../../templates/htmlClose.ejs'); %>

