<%- include('../templates/head') %>
<title>Accueil - Les pixels</title>
<%- include('../templates/headClose') %>

<%- include('../templates/header.ejs'); %>

<main>
    <h2>Accueil</h2>
    <p>WTF ? Le jeu de fou furax</p>
</main>

<%- include('../templates/footer.ejs'); %>
<%- include('../templates/htmlClose.ejs'); %>
