<%- include('../../../templates/head') %>
<title>Jouer - Les pixels</title>
<%- include('../../../templates/headClose') %>

<%- include('../../../templates/header.ejs'); %>

<main>
    <h2>Sélectionner une image</h2>
    <%- include('../../../templates/img/_list.ejs', {imgs: imgs}); %>
</main>

<%- include('../../../templates/footer.ejs'); %>
<%- include('../../../templates/htmlClose.ejs'); %>

