<%- include('../../../../templates/head') %>
<title>Admin - Les pixels</title>
<%- include('../../../../templates/headClose') %>

<%- include('../../../../templates/header.ejs'); %>

<main>
    <h2>Liste des images</h2>
    <a onclick="window.history.back()" href="#">Retour</a>
    <%- include('../../../../templates/img/_list.ejs'); %>
</main>

<%- include('../../../../templates/footer.ejs'); %>
<%- include('../../../../templates/htmlClose.ejs'); %>

