<%- include('../../templates/head') %>
<title>Admin - Les pixels</title>
<%- include('../../templates/headClose') %>

<%- include('../../templates/header.ejs'); %>

<main>
    <h2>Panel Admin</h2>
    <h3>Images:</h3>
    <ul>
        <li><a href="/admin/img/list">Lister une image</a></li>
        <li><a href="/admin/img/create">Ajouter une image</a></li>
    </ul>
</main>

<%- include('../../templates/footer.ejs'); %>
<%- include('../../templates/htmlClose.ejs'); %>

